:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: auto;
  grid-auto-rows: minmax(min-content, max-content);
  padding: 10px;
  grid-column-gap: 20px;
  justify-items: end;
  align-items: center;
  // grid-template-rows: repeat(3, 20%);
  // justify-content: center;
  // align-content: center;
  // align-items: end;
  width: 500px;
  // height: 500px;
  border: 1px solid #cacdd1;
  overflow: auto;
}

.box {
  width: 50px;
  height: 50px;
  // height: 100%;

  &.box2 {
    height: 150px;
    // z-index: 9;
  }
}


.container-a {
  display: grid;
  // width: 100%;
  width: 500px;
  height: 500px;
  border: 1px solid #cacdd1;
  grid-template-columns: repeat(4, 1fr);
  justify-content: start;
  // align-items: start;
  align-items: start;
  align-content: start;
}

.bx {
  background-color: orange;
  height: 60px;

  &.one {
    // width: 50%;
    height: 100px;
    background-color: pink;
    grid-column-start: span 3;
  }

  &.two {
    background-color: green;
    grid-column-start: span 4;
  }
}