:host {
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;

  .box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 12px;
    background: #F7F8FA;
    margin-bottom: 12px;
  }

  button {
    padding: 12px;
  }
}