html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color: #0000FF;
}

body {
  // background-color: #{"rgba(red(var(--color)),green(var(--color)),blue(var(--color)),0.5)"};
  // background-color: #{"red(#0000FF)"};
  // background-color: #{"hexa(var(--bg-color),0.1)"};

  // background: linear-gradient(to bottom, transparent -250%, var(--color) 1000%);
  // background-color: #{"rgb(from #0000FF r g b / 50%)"};
  background-color: #{"rgb(from #0000FF r g b / 0.5)"};
}